.about_contents_wrap {
	width: 100%;
	margin-bottom: 30px;
}

.aboutInnerWrap {
	width: 100%;
}


/* Name */
.aboutNameWrap {
	width: 100%;
	height: 80px;
}

.NameInner_Up, .NameInner_Down {
	width: 100%;
	height: 20px;
}

.NameInner_Name {
	width: 100%;
	height: 40px;
}

/* Summary */
.aboutSummaryWrap {
	width: 100%;
}

.SummaryInner_Up, .SummaryInner_Down {
	width: 100%;
	height: 10px;
}

.SummaryInner_Summary {
	width: 100%;
}

/* Key Words */
.aboutKeyWordsWrap {
	width: 100%;
	height: 100px;
}

.keyWordsInner_Up, .keyWordsInner_Down {
	width: 100%;
	height: 20px;
}

.keyWordsInner_KeyWords {
	width: 100%;
	height: 20px;
}

.keyWordsInner_keyWords_1, .keyWordsInner_keyWords_2, .keyWordsInner_keyWords_3 {
	float: left;
	text-align: center;
}

.keyWordsInner_keyWords_1 {
	width: 33.33%;
}

.keyWordsInner_keyWords_2 {
	width: 33.34%;
}

.keyWordsInner_keyWords_3 {
	width: 33.33%;
}


/* Certifications */
.Certification_titleInner_Up, .Certification_titleInner_Down {
	width: 100%;
	height: 20px;
}

.Certification_titleInner_title {
	width: 100%;
}

.aboutCertificationWrap {
	width: 100%;
}

.certificationInner_Up, .certificationInner_Down {
	width: 100%;
	height: 20px;
}

.certificationInner_Certification {
	width: 100%;
	height: 20px;
}


/* Quotes */
.aboutQuotesWrap {
	width: 100%;
}

.aboutQuoteInner_Up, .aboutQuoteInner_Down {
	width: 100%;
	height: 20px;
}

.aboutQuoteInner_Quote {
	width: 100%;
	height: 20%;
}

.aboutQuoteInner_Quote_Quote {
	width: 100%;
}

.aboutQuoteInner_Quote_Authors {
	width: 100%;
}

/* Resume */
.aboutResumeButtonWrap {
	width: 100%;
	height: 100px;
}

.aboutResumeButtonInner_Up, .aboutResumeButtonInner_Down {
	width: 100%;
	height: 40%;
}

.aboutResumeButtonInner_Button {
	width: 100%;
	height: 20%;
	text-align: center;
}

.aboutResumeButton {
	padding: 10px;
	height: 18px;
	text-transform: uppercase;
	
	color: #515151;
	background: #d3d3d3;
	background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a));
	background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%);
	background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%);
	background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%);
	background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%);

	background: #d3d3d3;
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;
	font: bold 15px/17px Arial, sans-serif;
	
	text-shadow: 1px 1px 1px rgba(255,255,255, .22);
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.aboutResumeButton:hover {
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
	box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
}

.aboutResumeButton:active {
	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
  -moz-box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
  box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
}