.contact_contents_wrap {
	width: 100%;
	height: 700px;
}

.contactInnerWarp {
	width: 100%;
	height: 100%;
}

.contactQuoteWrap {
	width: 100%;
	height: 20%;
	text-align: center;
	position: relative;
}

.contactQuoteInner_Up {
	width: 100%;
	height: 60%;
}

.contactQuoteInner_Quote {
	height: 20%
}

.contactQuoteInner_Down {
	height: 20%
}

.contactImageWrap {
	width: 100%;
	height: 30%;
	position: relative;
	text-align: center;
}

.contactImageInner_Up, .contactImageInner_Down {
	width: 100%;
	height: 20%;
}

.contactImageInner_Image {
	width: 100%;
	height: 60%;
}

.Contact_Image {
	vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.contactContactButtonWrap {
	width: 100%;
	height: 10%;
}

.contactContactButtonInner_Up, .contactContactButtonInner_Down {
	width: 100%;
	height: 40%;
}

.contactContactButtonInner_Button {
	width: 100%;
	height: 20%;
	text-align: center;
}

.contactContactButton {
	padding: 10px;
	height: 18px;
	text-transform: uppercase;
	
	color: #515151;
	background: #d3d3d3;
	background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a));
	background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%);
	background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%);
	background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%);
	background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%);

	background: #d3d3d3;
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;
	font: bold 15px/17px Arial, sans-serif;
	
	text-shadow: 1px 1px 1px rgba(255,255,255, .22);
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.contactContactButton:hover {
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
	box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);
}

.contactContactButton:active {
	-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
    -moz-box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
    box-shadow: inset 0px 0px 3px rgba(0,0,0, .8);
}