.main_navigation_class {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main_navigation_class li {
    float: right;
    margin-right: 20px;
}

.main_navigation_class li span a {
    height: 40px;
    line-height: 40px;
}

.main_navigation_class li span a {
    width: 100%;
    display: inline-block;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.main_navigation_class li span a:hover {
    background-color: #555;
}

.navCMobile {
    background: #9FF
}

@media screen and (max-width:500px) {
    .main_navigation_class {
	position: relative;
    }
    .main_navigation_class li {
	width: 100%;
	float: none;
	display: inline;
    }
    .main_navigation_class li span a {
	display: block;
    }
}
