ul.main_navigation_class{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.main_navigation_class li {
    float: left;
}

ul.main_navigation_class li a{
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

ul.main_navigation_class li a:hover {
    background-color: #555;
}
