.publications_contents_wrap {
	width: 100%;
	margin-bottom: 30px;
}

.publicationsInnerWrap {
	width: 100%;
}

.paper_title {
	width: 100%;
}

.paper_listWrap {
	width: 100%;
}

.paper_listInner_Up, .paper_listInner_Down {
	width: 100%;
	height: 20px;
}

.paper_listInner_list {
	width: 100%;
}